<mat-card>
    <mat-card-title>
        Add New User
    </mat-card-title>
    <mat-card-content class="mat-elevation-z9">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
            <table>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <div class="form-group">
                            <input matInput required maxlength="20" minlength="3" pattern='^[^{}!."[\]]+$' type="text"
                                   class="form-control" id="username" placeholder="Enter username"
                                   formControlName="username" name="username">
                        </div>
                    </mat-form-field>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput required type="text" class="form-control" id="first_name"
                                   placeholder="Enter First Name" formControlName="first_name" name="first_name">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Last Name (Optional)</mat-label>
                            <input matInput type="text" class="form-control" id="last_name"
                                   placeholder="Enter Last Name" formControlName="last_name" name="last_name">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput required email type="email" class="form-control" id="email"
                               pattern="^[^(\.)][a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"
                               placeholder="Enter Email" formControlName="email" name="email">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
                    </mat-card-actions>
                    <mat-grid-list cols="4" rowHeight="50px">
                        <mat-grid-tile>
                            <button mat-raised-button routerLink="/users">CANCEL</button>
                        </mat-grid-tile>
                        <mat-grid-tile></mat-grid-tile>
                        <mat-grid-tile>
                            <button mat-raised-button type="submit" [disabled]="formGroup.invalid">ADD NEW USER</button>
                        </mat-grid-tile>
                        <mat-grid-tile></mat-grid-tile>
                    </mat-grid-list>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>